@model Relations.Data.Entities.Course

@{ ViewData["Title"] = "Details"; }

<link rel="stylesheet" href="https://cdn.datatables.net/1.10.19/css/jquery.dataTables.min.css" />

<h2>Details</h2>

<div>
    <h4>Course</h4>
    <hr />
    <div class="row">
        <div class="col-md-4">
            <dl class="dl-horizontal">
                <dt>
                    University
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.University.Title)
                </dd>


                <dt>
                    Course
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.Name)
                </dd>

                <dd>
                </dd>
            </dl>
        </div>
    </div>
</div>
<div>
    <a asp-action="EditCourse" asp-route-id="@Model.Id" class="btn btn-outline-warning">Edit</a>
    <a asp-action="Details" asp-route-id="@Model.University.Id" class="btn btn-outline-success">Back to List</a>
</div>
<br />
